.header {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}

.header d {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}
